$knowledge-bg--active: #1ba1e4;
$knowledge-bg--hover: $gray-300;

.o_knowledge_form_view {
    background-color: var(--knowledge-view-bg, $o-white);
    .o_knowledge_header {
        .o_form_status_indicator {
            align-self: normal !important;
            display: flex;
        }
    }
    .o_knowledge_sidebar {
        .o_knowledge_create_article, .o_knowledge_search {
            &:hover {
                background-color: rgba($knowledge-bg--hover, 0.3);
            }
        }
        ul {
            list-style: none;
            padding: 0;
        }
        li > ul > li {
            &:before {
                @include o-position-absolute($top: 1em, $left: 0);
                width: .6em;
                height: 1px;
                margin: auto;
            }
            &:not(.o_dragged) {
                margin-left: 1.28571429em * 0.5; // Workaround to get half .fa-fw icon's width.
                padding-left: 0.8em;

                &:before, &:after {
                    content: '';
                    background-color: $border-color;
                }

                &:after {
                    @include o-position-absolute(0, auto, 0, 0);
                    width: 1px;
                    height: 100%;
                }
            }
            &:last-child {
                padding-bottom: 0;

                &:after {
                    height: 1em;
                }
            }
        }
    }
    // = Resizer
    // --------------------------------------------------------------------------
    .o_knowledge_article_form_resizer {
        cursor: col-resize;
        touch-action: none;
        span:hover, span.o_resizer_bg {
            background-color: rgb(169, 169, 169);
        }
    }
    // = Cover
    // --------------------------------------------------------------------------
    .o_knowledge_cover {
        width: 100%;
        img {
            width: 100%;
            height: 30vh;
            min-height: 150px;
            object-fit: cover;
        }
        &.o_cursor_grab {
            cursor: grab;
        }
        &.o_cursor_grabbing {
            cursor: grabbing;
        }
        .o_reposition_hint {
            background-color: black;
            color: white;
        }
    }
}
