<!-- BEGIN .content -->
<div class="content">
	<!-- BEGIN .wrapper -->
	<div class="wrapper">
		{{ widgets:area slug="top-area" }}
		
		<div class="main-content">
			<div class="main-page left">
				<div class="double-block">
					<div class="content-block main right">
						{{ if { url:segments segment="1" } == '' or  {url:segments segment="1" } == 'home'}}
							{{ theme:partial name="home" }}	
                            {{ widgets:area slug="main-content" }}
						{{else}}
							{{ template:body }}
						{{ endif }}
					</div>
					<div class="content-block left">
						{{ widgets:area slug="sidebar-left" }}
					</div>
				</div>
			</div>	
			
			<div class="main-sidebar right">
				{{ widgets:area slug="sidebar-right" }}
			</div>
			
			<div class="clear-float"></div>
		</div>
	<!-- END .wrapper -->
	</div>
	

	
	
	
	
<!-- END .content -->
</div>