<!-- Meta data -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
{{ template:metadata }}
<title>{{ settings:site_name }} &bull; {{ template:title }}</title>

<!-- Favicon -->		
{{ theme:favicon file="favicon.ico" sizes="16x16 32x32" }}


<!-- Begin stylesheets -->
{{ asset:css file="reset.css" }}
{{ asset:css file="colorbox.css" }}
{{ asset:css file="main-stylesheet.css" }}
{{ asset:css file="shortcode.css" }}
{{ asset:css file="fonts.css" }}
{{ asset:css file="colors.css" }}
{{ asset:css file="responsive.css" }}
{{ asset:css file="custom.css" }}
{{ asset:css file="MinimalisticSlideshowGallery/css/style.css" }}
{{ asset:render }}