<!-- BEGIN - Style untuk override sesuai setting Portal Theme -->
<style>
    .header, .breaking-news .the-title, .widget > h3, .button, a.small-button, .marker, .hover-effect, .block-title, #wp-calendar td#today, .small-button, #writecomment p input[type="submit"]
    {
        background-color:{{ portal_setting:get_setting field="warna_dasar" }};
    }
    .msg_slideshow{
        background: {{ portal_setting:get_setting field="warna_dasar" }} url("../icons/loading.gif") no-repeat scroll center center;
    }
    .list-title {
        border-bottom: 2px solid {{ portal_setting:get_setting field="warna_dasar" }};
    }
    .list-title, a:hover, a.mobile-menu, .widget .meta a {
        color: {{ portal_setting:get_setting field="warna_dasar" }};
    }
    .pageSingle h1{
        background: {{ portal_setting:get_setting field="warna_dasar" }} none repeat scroll 0 0;
    }
    #cboxLoadedContent th{
        color: {{ portal_setting:get_setting field="warna_dasar" }};
    }
    .block-content table thead {
        background-color: {{ portal_setting:get_setting field="warna_dasar" }};
        color: #ffffff;
    }
</style>
<!-- END - Style untuk override sesuai setting Portal Theme -->