/* michaelMultiselect
----------------------------------*/

.ui-michaelMultiselect { border: solid 1px; font-size: 0.8em; }
.ui-michaelMultiselect ul { -moz-user-select: none; }
.ui-michaelMultiselect li { margin: 0; padding: 0; cursor: default; line-height: 20px; height: 20px; font-size: 11px; list-style: none; }
.ui-michaelMultiselect li a { color: #999; text-decoration: none; padding: 0; display: block; float: left; cursor: pointer;}
.ui-michaelMultiselect li.ui-draggable-dragging { padding-left: 10px; }

.ui-michaelMultiselect div.selected { position: relative; padding: 0; margin: 0; border: 0; float:left; }
.ui-michaelMultiselect ul.selected { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; position: relative; width: 100%; }
.ui-michaelMultiselect ul.selected li { }

.ui-michaelMultiselect div.available { position: relative; padding: 0; margin: 0; border: 0; float:left; border-left: 1px solid; }
.ui-michaelMultiselect ul.available { position: relative; padding: 0; overflow: auto; overflow-x: hidden; background: #fff; margin: 0; list-style: none; border: 0; width: 100%; }
.ui-michaelMultiselect ul.available li { padding-left: 10px; }
 
.ui-michaelMultiselect .ui-state-default { border: none; margin-bottom: 1px; position: relative; padding-left: 20px;}
.ui-michaelMultiselect .ui-state-hover { border: none; }
.ui-michaelMultiselect .ui-widget-header {border: none; font-size: 11px; margin-bottom: 1px;}
 
.ui-michaelMultiselect .add-all { float: right; padding: 7px;}
.ui-michaelMultiselect .remove-all { float: right; padding: 7px;}
.ui-michaelMultiselect .search { float: left; padding: 4px;}
.ui-michaelMultiselect .count { float: left; padding: 7px;}

.ui-michaelMultiselect li span.ui-icon-arrowthick-2-n-s { position: absolute; left: 2px; }
.ui-michaelMultiselect li a.action { position: absolute; right: 2px; top: 2px; }
 
.ui-michaelMultiselect input.search { height: 14px; padding: 1px; opacity: 0.5; margin: 4px; width: 100px; }