/* <tbody class="ui-sortable-container"> */
.ui-sortable-container {
  overflow: auto;
  -ms-overflow-x: hidden;
  overflow-x: hidden;
}

.ui-sortable-container tr:hover {
  cursor: move;
}

.ui-sortable-placeholder {
  height: 43px;
}

.commenter{
    font-weight: bold;
    width:10%;
    padding-right:20px;
    height:100%;
    display:inline-block;
}

.comment-block{
    height:100%;
    display:inline-block;
}

.post-date{
    font-style: italic;
    float:right;
    padding-bottom:10px;
    font-size:10px;
}