.o_knowledge_sidebar {
    height: 100%;
    transition: transform 0.15s linear;
    .o_public_search {
        &:hover {
            background-color: $o-gray-200;
        }
    }
    .o_tree {
        overflow-y: auto;
        font-size: 0.875rem;
    }
    &.o_slide-enter, &.o_slide-leave {
        transform: translateX(-100%);
        .o_resizable_panel {
            width: 0 !important;
        }
    }
    .o_resizable_panel {
        max-width: 576px;
        transition: width 0.15s linear;
        @include media-breakpoint-down(sm) {
            width: 100vw !important;
        }
    }
    .o_resizable_panel_handle {
        &:hover {
            background-color: $o-gray-300;
        }
        &.o_knowledge_sidebar_active_handle {
            background-color: $o-gray-300;
        }
    }
    ul {
        list-style: none;
        padding: 0;
    }
    li > ul > li {
        margin-left: 1.28571429em * 0.5; // Workaround to get half .fa-fw icon's width.
        padding-left: 0.8em;
        &:before {
            @include o-position-absolute($top: 1em, $left: 0);
            width: .6em;
            height: 1px;
            margin: auto;
            content: '';
            background-color: $border-color;
        }
        &:after {
            @include o-position-absolute(0, auto, 0, 0);
            width: 1px;
            height: 100%;
            content: '';
            background-color: $border-color;
        }
        &:last-child {
            padding-bottom: 0;
            &:after {
                height: 1em;
            }
        }
    }
    .o_article_handle {
        &.o_article_active {
            .o_article_name {
                background-color: rgba($knowledge-bg--active, 0.2);
                &:hover {
                    background-color: rgba($knowledge-bg--active, 0.3);
                }
            }
        }
        &:not(.o_article_active) {
            .o_article_name:hover {
                background-color: rgba($knowledge-bg--hover, 0.3);
            }
        }
    }
}
