.o_spreadsheet_action {
    position: relative;
    display: flex;
    flex-flow: column;

    height: 100dvh !important;
    width: 100dvw !important;
}
 

.o_spreadsheet_user {
    img {
        box-sizing: content-box;
        height: 2rem;
        width: 2rem;
    }
}

.o_spreadsheet_status {
    display: inline-block;
    font-size: small;
    padding-right: 0.4rem;
}

.o-spreadsheet .o-popover {
    background-color: #ffffff !important;
}
