/* CSS Document */
body {
font: 12px normal Arial, Helvetica, sans-serif;
margin:0px;
}

.Header {
border:1px solid #999999;
height:50px;
position:fixed;
background-color:#FFFFEE;
color:#333333;
}

.LeftPanel {
border:1px solid #CCCCCC;
color:#333333;
width:200px;
height:inherit;
float:left;
}
.Content {
border:1px solid #CCCCCC;
overflow:hidden;
position:absolute;
width:100%;
height:100%;
left:0px;
top:0px;
}

.FootPanel{
	font-family:"Arial";
	font-size:11px; 
	position: fixed;
	bottom: 0; left: 0;
	z-index: 9999; /*--Keeps the panel on top of all other elements--*/
	background: #e3e2e2;
	border: 1px solid #c3c3c3;
	border-bottom: none;
	width: 100%;
	height:23px;
	
}
