* {margin:0; padding:0}
body{
	font:11px/1.5 Verdana, Arial, Helvetica, sans-serif;
	background-image:url();
	
	margin:0px 0px 0px 0px;
	background-attachment:fixed;
	overflow:hidden;
	}
body a{color:#6595A3; cursor:pointer;}
.topPanel{
	position:fixed;
	top:0px;
	left:0px;
	right:0px;
	border-bottom:1px solid #999;
	height:75px;
	background-repeat:repeat-x; background-image:url(../images/header.png);
	}
.topPanel span{cursor:pointer; font-size:12px; color:#0099FF;}
.topPanel span:hover{text-decoration:underline; color:#0066FF;}
.topPanelContent{
	background-color:transparent;
	padding-left:10px;
	position:relative;
	margin-top:-30px;
	margin-left:300px;
	height:70px;
	}
.PanelKiri{
	height:100%;
	width:375px;
	background-color:#fff;
	border:1px solid #099;
	float:left;
	left:0px;
	text-align:left;
	padding-bottom:50px;
	}
.PanelKiriData{
	border:0px solid #C90;
	margin-top:75px;
	margin-left:0px;
	margin-right:0px;
	margin-bottom:200px;
	width:100%;
	height:85%;
	min-height:400px;
	position:inherit;
	left:0px;
	overflow:hidden;
	padding:0px;
	}
.PanelKiriData .judul {
	background-color:#CCC;
	margin:0px 0px 0px 0px;
	height:30px;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	}
.PanelKiriData .menu_bar { height:25px; border:1px solid #999;}
.PanelKiriData .menu_bar ul li{
	display:block;
	float:left;
	height:20px;
	margin-left:1px;
	margin-top:4px;
	}
.PanelKiriData .menu_bar ul li a{
	background-color:#E9E9E9;
	padding:5px;
	cursor:pointer;
	}
.PanelKiriData .menu_bar ul li a:hover{ background-color:#DFDFDF;}
.PanelKiriFilter {
	position:inherit;
	margin-top:73px;
	padding:3px 2px 2px 3px;
	}
.leftPanel{
	width:300px;
	float:left;
	height:auto;
	border:0px solid #666666;
	margin-top:50px;
	margin-right:-10px;
	background-color:transparent;
	}
.frmPeta{ 
	height:87%;
	border:1px solid #999;
	background-color:#99FFFF;
	width:70%;
	float:right;
	top:75px;
	right:-1px;
	}
.form_input {
	border:0px solid #CCC;
	margin-bottom:50px;
	display:none;
	}
.PanelKiri .form_data {
	position:relative;
	border:0px solid #ccc;
	min-height:300px;
	height:94%;
	width:100%;
	left:0px;
	float:left;
	top:0px;
	margin-bottom:75px;
	bottom:250px;
	}
.top_panel .menu{ 
 font-weight:normal;
 float:left;
 margin-left:300px;
 margin-right:30px;
 font-size:12px; 
 font-family:Arial; 
 padding:5px 2px 2px 2px; 
 background-color:transparent;
 color:#FFFFFF;
 border:0px solid #333;
 width:500px;
 }
.menu ul { list-style:none;}
.menu ul li { display:block; float:left; height:35px; }
.menu ul li a {
	width:170px;
	height:35px;
	background-color:#C1D5F0;
	padding:3px 3px 3px 3px;
	margin-left:5px;
	color:#FFF;
	font-weight:bold;
	background-repeat:no-repeat;
	background-position:center;
	}
.menu ul li a:hover { cursor:pointer; text-decoration:underline;}
.menu span{ padding:2px 2px 1px 3px; margin-left:5px; color:#FFFFFF; font-size:12px;}
.menu span:hover{cursor:pointer;color:#CCCC33;}
#jendelainfo{
	position:absolute;
	z-index:1000;
	top:120;
	padding:0px 0px 0px 0px;
	position:fixed;
	z-index:9999;
	top:85px;
	margin-top:0px;
	width:500px;
	height:auto;
	display:none;
	cursor:pointer;
	left:600px;
	background:rgba(255,128,0,0.5);
	}
#jendelacommand{
	position:absolute;
	z-index:1000;
	bottom:20px;
	padding:12px 0px 2px 22px;
	position:fixed;
	z-index:9999;
	width:300px;
	height:auto;
	display:none;
	cursor:pointer;
	right:300px;
	background:rgba(255,128,0,0.5);
	border-radius:3px 3px ;
	}
.bottomPanel{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	float:right;
	margin-top:0px;
	position:fixed;
	width:100%;
	z-index:9999;
	min-height:65px;

	padding:0px 3px 0px 0px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #333;

}
.bottomPanel .menu{
	top:-20px;
	margin-left:350px;
	background-color:#333;
	position:absolute;
	height:45px;
}
.bottomPanel .menu ul{ list-style:none;}
.bottomPanel .menu li{
	text-align:center;
	float:left;
	margin-left:10px;
	border:1px solid #033;
	height:50px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 5px 5px;
	border:2px solid #759AFF;
	background:rgba(11,41,64,0.2);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	}
.bottomPanel .menu a{
	text-align:center;
	position:inherit;
	height:50px;
	font-weight:bold;
	padding:13px 13px 13px 13px;
	}
.bottomPanel .menu li a{
	text-align:center;
	color:red;
	text-decoration:none;
	background:#069;
	height:90px;
	}
.bottomPanel img{ top:2px; float:inherit; position:absolute;}
.bottomPanel .menu li a:hover{
	color:#03C;
	}
.bottomPanel span{ margin-top:0px; height:auto;font-weight:normal; font-size:12px;cursor:pointer; color:#0066FF; border-right:1px solid #cccccc;}
.bottomPanel ul{list-style:none;}
.bootomPanel li{
	float:left;
	margin-left:10px;
	border:1px solid #033;
	height:65px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 5px 5px;
	border:2px solid #759AFF;
	background:rgba(11,41,64,0.2);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	}
.bottomPanel li a{
	border:1px solid #999;
	text-decoration:none;
	background:rgba(55,55,55,0.5);
	height:65px;
	color:#FFF;
	 background-repeat:no-repeat; background-position:center;
	}
.bottomPanel a{
	margin-left:-1px;
	float:left;
	position:inherit;
	height:60px;
	font-weight:bold;
	padding:3px 13px 13px 13px;
	}
.bottomPanel li a:hover{ color:#CCC; cursor:pointer; background:rgba(11,41,64,0.5); background-repeat:no-repeat; background-position:center;}
.bottomPanel span a:hover{color:#9C9;}
.btnLeft{ border:1px solid #999; margin-top:0px;float:right; cursor:pointer; background-image:url(Icon/kiri.png); height:20px; width:20px;}
.btnLeft a:hover{ background-color:#999999;}
.btnLeft a{ background-image:url(Icon/kiri.png);}
.formKatagori{
	background-color:transparent;
	display:none;
	border:2px solid #ECECEC;
	height:70%;
	width:270px;
	font-size:12px;
	position:fixed;
	margin-left:20px;
	bottom:50px;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 5px 5px;
	border:2px solid #759AFF;
	background:rgba(11,41,64,0.2);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	}
.formKatagori table{
	background-color:transparent;
	}
.formKatagori span{
	width:150px;
	padding-left:10px;
	float:left;
	padding-top:5px;
	padding-right:3px;
	cursor:pointer;
	border:1px solid #999;
	margin-top:0px;
	}
.formKatagori img{
	height:25px;
	width:25px;
	}
.formKatagori span:hover{background-color:#EDEFF4;}
.frmLookLoc{ background-color:#6D84B4;display:none; border:2px solid #ECECEC; background-color:#FFFFFF; height:70%;width:270px;font-size:12px; position:fixed; margin-left:20px; bottom:20px;}
.frmLookLoc li a{ cursor:pointer;}
.frmLookLoc li a:hover{ color:#0099FF;}
.titleBar{background-color:#C90; height:25px; padding:2px 2px 2px -35px; cursor:pointer;}
.titleBar.hover{ background-color:#666666;}

.formInput{
	padding-left:13px;
	border:2px solid #999;
	background-color:transparent;
	color:#FFF;
	width:350px;
	height:350px;
	position:fixed;
	top:200px; color:
	z-index:9999;
	left:450px;
	font-size:12px;
	display:none;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	background:rgba(255,151,51,0.5);
	-webkit-box-shadow: #34473D 3px 3px 3px;
	-moz-box-shadow: #34473D 3px 3px 3px;
	}

.formInput img{ width:25px; height:25px;}
.btnClose{ font-weight:bold; float:right; padding:2px 1px 2px 4px; background-color:#CCCCCC;}
.btnClose a:hover{ background-color:#CCCCCC;}

/* tooltip css*/
#text {margin:50px auto; width:500px}
.hotspot {color:#900; padding-bottom:1px; border-bottom:1px dotted #900; cursor:pointer;}

#tt {position:absolute; display:block; background:url(images/tt_left.gif) top left no-repeat}
#tttop {display:block; height:5px; margin-left:5px; background:url(images/tt_top.gif) top right no-repeat; overflow:hidden}
#ttcont {display:block; padding:2px 12px 3px 7px; margin-left:5px; background:#666; color:#FFF}
#ttbot {display:block; height:5px; margin-left:5px; background:url(images/tt_bottom.gif) top right no-repeat; overflow:hidden}
<!-- menu-->
.aktif{ background-color:#99CCFF;}
#menu {
border:1px solid #999999;
position:relative;
font:Arial, Helvetica, sans-serif;
height:50px;
left:50px;
margin-top:-20px;
}
#menu ul{margin:0; list-style:none; padding: 0px 0 0 20px;}
#menu li{ list-style:none; margin:0px; }
#menu a, #nav strong, #nav span { float:left; display:block; color:#fff; padding: 5px; text-decoration:none;margin-left:2px;  }
#menu a { 
float:none; height:40px; 
-webkit-border-radius: 10px 12px 12px 12px;
	-moz-border-radius: 10px 12px 12px 12px;
	border-radius: 3px 3px 3px 3px;
	border:2px solid #759AFF;
	background:rgba(11,41,64,0.7);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	box-shadow: #34473D 7px 7px 7px;
}
#menu li {
float:left;
color: #FFF;
background:col;
left:10px;
margin:0;
padding:0 0 0 0px;
background-image:url(Images/menu.png);
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
font-weight:normal;
text-decoration:none;
}
#menu a:hover { text-decoration:none; 
-webkit-border-radius: 3px 10px 3px 3px;-moz-border-radius: 3px 10px 3px 3px;border-radius: 3px 10px 3px 3px;border:2px solid #A4A1FF;background:rgba(36,31,64,0.4);-webkit-box-shadow: #34473D 21px 21px 21px;-moz-box-shadow: #34473D 21px 21px 21px; box-shadow: #34473D 21px 21px 21px;
}  
.aktif a{ background-color:#99CCFF; height:50px; font-weight:bold;}
<!-- end menu-->
#cari { font-weight:bold;}
.about {
	border:1px solid #CCC;
	width:500px;
	float:right;
	}
.about a { text-decoration:noe; font-weight:normal; font-size:12px; color:#C90;}
.about a:hover { text-decoration:underline;}
.menu_navigasi {
	position:fixed;
	bottom:0px;
	left:1px;
	z-index:99999;
	height:70px;
	border:none;
	width:40%;
	}
.menu_navigasi ul { list-style:none; }
.menu_navigasi ul li { border:0px; font-size:14px; }
.menu_navigasi ul li a {
	border:1px solid #CCC;
	padding:1px 2px 0px 2px;
	text-decoration:none;
	cursor:pointer;
	display:block;
	float:left;
	height:70px;
	width:70px;
	text-align:center;
	margin-left:-1px;
	background-repeat:no-repeat;
	background-position:center;
	}
.menu_navigasi ul li a:hover {
	background-color:#CCC;
	}
.aktif { background-color:#FFF; border-top:0px; }
.lost_focus { background-color:#FFF; }
.garis_atas { background-color:#06C; }
.normal { background-color:#E9E9E9;}
.messagebox {
	height:30px;
	border:1px solid #C90;
	position:fixed;
	top:0px;
	z-index:9999;
	width:700px;
	left:300px;
	text-align:center;
	padding:3px;
	color:orange;
	font-size:13px;
	font-weight:bold;
	box-shadow: #34473D 7px 7px 7px;
	-webkit-border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	border-radius: 13px 13px 13px 13px;
	display:none;
	}
.data {
	border:1px solid #39F;
	margin-bottom:2px;
	float:left;
	position:relative;
	}
.ui {
	display:none; 
	border:3px solid #BCD0F5;
	width:1000px;
	height:550px;
	background-color:#F2FAFD;
	position:absolute;
	z-index:99999;
	margin-top:70px;
	left:300px;
	padding:2px 10px 10px 10px;
	}
.ui .ui_title_bar {
	height:40px;
	border:1px solid #666;
	}
.ui .close_bar{
	cursor:pointer;
	}
.info_kecamatan{
	position:fixed;
	background-color:#06C;
	opacity:0.6;
	z-index:99999;
	text-align:center;
	bottom:40px;
	left:450px;
	width:300px;
	font-family:'Courier New';
	font-size:14pt;
	font-weight:bold;
	color:blue;
	display:none;
	}