
.ytgallery {
	width: 300px;
	position:relative;
	margin:0 auto;
}			
.ytgallery #ytmain {
	height:285px;
	position:relative;
	text-align:center;	
	overflow: hidden;
}
.ytgallery #ytvideo {
	margin:0 auto;
	position:absolute;
	top:0;
}
.ytgallery #ytvideo #maintitle{
	max-height:30px;
	font-size: 14px;
	font-weight: bold;
}
	
.ytgallery #ytthumbs {
	height:90px;
	margin-left:15px;
	overflow: hidden;
	position:relative;
}
.ytgallery #ytthumbs .thumb {
	padding: 5px;
	width:80px;
	height:100px;
	float: left;
	position:relative;
	border-radius:5px;				
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
}	
.ytgallery #ytthumbs .thumb img {
	width:80px;
	height:60px;
}
.ytgallery #ytthumbs .thumb .thumbtitle {
	height: 35px;
	font-size: 11px;
	overflow: hidden;
	line-height:108%;
}
							
.ytgallery #ytprev, .ytgallery #ytnext {
	text-indent:-999em;
	position: absolute;
	display:block;
	width:19px;
	height:20px;
	background: transparent url('../img/carousel_nav.png') no-repeat 0 0;
	bottom:65px;
}
.ytgallery #ytprev {
	background-position: 0 0;
	left: 5px;
}
.ytgallery #ytnext {
	background-position: -19px 0;
	right: 5px;
}			
.ytgallery #ytprev:hover { 
	background-position: 0 -20px;				
}
.ytgallery #ytnext:hover {
	background-position: -19px -20px;				
}
.ytgallery #ytprev.disabled, .ytgallery #ytnext.disabled {
	display: none !important;
}