.o_knowledge_permission_panel {
    width: 420px;
    font-size: var(--body-font-size); // This used to be the font size for the old permission panel
    max-height: 50vh;
    .o_knowledge_permission_panel_members img, .o_knowledge_share_panel_icon {
        height: 30px;
        width: 30px;
        object-fit: cover;
    }
    .o-dropdown-caret:not(.o-dropdown-no-caret) {
        &:after {
            transform: rotate(-90deg);
        }
        &.show:after {
            transform: rotate(0deg);
        }
    }
}
.o_knowledge_permission_panel_remove_member.focus {
    color: $danger;
}
