/* Form style */
.form_wilayah{
	position:absolute;
	height:300px;
	width:800px;
	margin-left:22px;
	bottom:68px;
	display:none;
	padding:2px 3px 3px 8px;
	float:left;
	-webkit-border-radius: 3px 3px 0px 0px;
	-moz-border-radius: 3px 3px 0px 0px;
	border-radius: 3px 3px 0px 0px;
	border:1px solid #EFEFEF;
	background:rgba(51,51,51,0.9);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	 border-bottom:1px solid #999;
	}
.form_golongan{
	position:absolute;
	height:300px;
	width:800px;
	margin-left:22px;
	bottom:60px;
	display:none;
	padding:2px 3px 3px 10px;
	float:left;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 5px 5px;
	border:2px solid #759AFF;
	background:rgba(51,51,51,0.9);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	 border-bottom-style:none;
	}
.form_pelanggan{
	position:absolute;
	height:300px;
	width:800px;
	margin-left:22px;
	bottom:60px;
	display:none;
	padding:2px 3px 10px 10px;
	float:left;
	overflow:scroll;
	-webkit-border-radius: 3px 3px 3px 3px;
	-moz-border-radius: 3px 3px 3px 3px;
	border-radius: 3px 3px 5px 5px;
	border:2px solid #759AFF;
	background:rgba(51,51,51,0.9);
	-webkit-box-shadow: #34473D 7px 7px 7px;
	-moz-box-shadow: #34473D 7px 7px 7px;
	 box-shadow: #34473D 7px 7px 7px;
	 border-bottom-style:none;
	}
.form_golongan iframe{ border:0px;}