<!DOCTYPE html>
<html lang = "en">
<head>
    {{ theme:js file="jquery-latest.min.js" }}
    {{ theme:partial name="metadata" }}
	
</head>
<body>

	<!-- Begin boxed -->
	<div class="boxed">
		{{ integration:analytics }}

		{{ theme:partial name="header" }}
		
		{{ theme:partial name="content" }}
		
		{{ theme:partial name="footer" }}
		
	</div>
	<!-- End boxed -->
	
	<!-- Scripts -->
	{{ theme:js file="theme-scripts.js" }}
    {{ theme:js file="jquery.colorbox-min.js" }}
    {{ theme:js file="minimalistic_slideshow.js" }}
    {{ theme:js file="highcharts/highcharts.js" }}
	<!-- End Scripts -->

   {{ theme:partial name="override_style" }}
</body>
</html>