.pageSingle div#lipsum{
	overflow: hidden;
	background: #fcfcfc;
	padding: 17px;
	margin-top: -10px;
	box-shadow: 0 1px 1px rgba(0,0,0,0.08);
	margin-bottom: 20px;
}
.pageSingle h1{
	display: block;
	margin-bottom: 10px;
	background: #5a9e25;
	color: #fff;
	padding: 7px 13px;
	font-size: 16px;
	color: #fff;
	font-family: 'Source Sans Pro', sans-serif;
}

ul.photo-gallery-grid-2 li.photo-gallery-block-2 {
    background: none repeat scroll 0 0 #FFFFFF;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.1);
	position: relative; 
	left: 0px; 
	top: 0px;
    display: inline-block;
    margin-bottom: 5px;
	margin-right:2px;
}
li.photo-gallery-block-2 .gallery-content{
	padding:5px;
}

.pagination ul li{
	display:inline-block;
	margin:5px;
}

.block-content table{
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
	width:100%;
	background: none repeat scroll 0 0 #F9F9F9;
    border: 1px solid #DBDBDB;
    border-radius: 2px;
    box-shadow: 0 -20px 20px -20px rgba(0, 0, 0, 0.1) inset;
	margin-bottom:10px;
}
.block-content table thead{
	background-color: #5A9E25;  
	color: #FFFFFF;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.block-content table th, .block-content table td{
	padding:5px;
}
.block-content .form_inputs ul li.header{
	margin-bottom:5px;
	margin-top:10px;
	padding:5px;
}

.content select{
    -moz-box-sizing: border-box;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D3D3D3;
    display: block;
    font-family: 'Arial';
    font-size: 13px;
    padding: 6px 13px;
}

form ul li.header{
    z-index:100 !important;
}