.form_inputs > ul:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
section#content ul {
    margin: 0;
    padding: 0;
}
.form_inputs fieldset > ul, .form_inputs > ul {
    height: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
    width: 100%;
}
form ul {
    margin: 5px 0;
    padding: 0;
}
.form_inputs ul, .form_inputs ol {
    margin: 0 0 10px 0px;
    padding: 0;
}

.form_inputs ul.fields{
    padding-left:0px !important;
}

.form_inputs ul.fields li{
    list-style: none;
}

.form_inputs ul li.header{
    font-size:15px;
    font-weight:bold;
    margin-bottom:0;
    padding-bottom: 0;
    width: 100%;
}
.mandatory{
    color:red;
}